* {
  margin: 0;
}

#header {
  background: #1f2235;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}

.main-logo {
  width: 250px;
}

.links {
  list-style: none;
}

.unordered-list {
  display: flex;
}